
html,body {
    width: 100%;
    height: 100%;
    font-size: 18px;
    color: #222;
    font-family: cursive;
}
.navbar {
    background-color: rgba(43, 43, 40, 0.9) !important;
    position: fixed;
    width: 100%;

}
div.dropdown-menu{
    background-color: rgba(43, 43, 40, 0.9);
    padding: 0;
}
a.dropdown-item:hover{
    background-color: rgba(43, 43, 40, 0.9) !important  ;
    color: white !important;
}

.navbar li a {
    color: white !important;
}
.navbar li>a:hover{
    color: rgb(179, 166, 166) !important;
}
.carousel-inner {
    margin-top: 68px;
}
.carousel-inner img {
    width: 100%;
    height: 550px;  
}
.carousel-caption {
    position: absolute;
}
.carousel-caption h1 {
    font-size: 400%;
    text-shadow: 5px 5px 15px #000;
}
.carousel-caption h3 {
    text-shadow: 5px 5px 15px #000;
}
.btn-primary {
    background-color: rgb(123, 153, 209);
    border: 1px solid white;
}
.btn-primary:hover {
    background-color: rgb(47, 99, 197);
    border: 1px solid white;
}
.jumbotron {
    padding: 1rem;
    border-radius: 0;
}
.hr {
    border-top: 3px solid rgba(25, 21, 34, 0.8);
    width: 90%;
    margin-bottom: 2rem;
}
.icon {
    margin-bottom: 2rem;
}
.social a{
    padding: 5px;
}
.social {
    margin-bottom: 2rem;
}
footer {
    background-color: rgba(43, 43, 40, 0.9);
    color: aliceblue;
}
#txtFooter {
    padding-top: 2rem;
}
.light {
    border-top: 1px solid #d5d5d5;    
}

.light-100{
    border-top: 1px solid #d5d5d5;    
}
.modal-content {
    background-color: #ffffff;
    border-radius: .3rem;
}
#formDK{
    margin:80px auto;
    padding: 20px;
    width: 500px;
    border: 1px solid black;
    background: white;
}

/*media query*/
@media (max-width:992px){
    .carousel-caption {
        position: absolute;
    }
    .carousel-caption h1 {
        font-size: 400%;
        text-shadow: 5px 5px 15px #000;
    }
    .carousel-caption h3 {
        text-shadow: 5px 5px 15px #000;
    }
}
@media (max-width:766px){
    .carousel-caption {
        position: absolute;
   
    }
    .carousel-caption h1 {
        font-size: 400%;
        text-shadow: 5px 5px 15px #000;
    }
    .carousel-caption h3 {
        text-shadow: 5px 5px 15px #000;
    }
}
@media (max-width:576px){
    .carousel-caption {
        position: absolute;
    
    }
    .carousel-caption h1 {
        font-size: 400%;
        text-shadow: 5px 5px 15px #000;
    }
    .carousel-caption h3 {
        text-shadow: 5px 5px 15px #000;
    }
}
