*{
	margin:0;
	font-family: sans-serif;
}
#container {
	background-image: url(pic/background1.jpg);
	height: 100%;
	background-size: cover;
}
#header {
	width: 100%;

}
#nav {
	background: #A0A0A0FF;
	margin-bottom: 10px;
	height: 46px;
	position: sticky;
}
#menu {
	float: left;
	overflow: hidden;
	text-transform: uppercase;
}
#menu ul li{
	float: left;
	list-style-type: none;
	
}
#menu ul li a{	
	padding: 14px 14px;
	color: white;
	display: inline-block;	
	text-align: center;
	text-decoration: none;
}
#menu ul li a:hover {
	background: black;
}
#sreach {
	float: right;
	padding: 10px 0	;
}
#btnSearch a {
	text-decoration: none;
}
#top-header{
	padding: 10px 0 10px 10px;
}
#top-header h2{
	margin: 0;
}
#slideshow {
	width: 980px;
	height: 530px;
	margin: auto;
	overflow: hidden;
}
#slide{
	position: relative;
	width: 300%;
	height: 530px;
	margin: 0;
	animation:12s slider infinite;
	
}
#slide img{
	width: 980px;
	float: left;
	height: 100%;
}
#slideshow button{
	height: 40px;
	position: absolute;
	right: 0;
	top: 50%;
	background: black;
	color: white;		
}

@keyframes slider {
0%{
	top: 0;left: 0;
}
20%{
	left: 0;
}
25%{
	top: 0:left: -980px;
}

50%{
	left: -980px;
}
75%{
	left: -1960px;
}
100%{
	top: 0;left: -1960px;
}
}
#main {
	margin: 10px 60px 0 60px;
}
#main p {
	position: relative;
	margin-top: 10px;
}